In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("SPD_Crime_Data__2008-Present.csv")

In [3]:
df.insert(6, 'City', 'Seattle')

In [5]:
df["Report DateTime"]= pd.to_datetime(df['Report DateTime'])

In [6]:
df['Date'] = df["Report DateTime"].dt.strftime("%Y-%m-%d")
df['Time'] = df["Report DateTime"].dt.strftime("%H:%M:%S")

In [ ]:
df.groupby(['Date', 'col2'])

In [ ]:
df.groupby('Date',)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033415 entries, 0 to 1033414
Data columns (total 20 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1033415 non-null  object
 1   Offense ID              1033415 non-null  int64
 2   Offense Start DateTime  1032212 non-null  object
 3   Offense End DateTime    581409 non-null   object
 4   Report DateTime         1033415 non-null  datetime64[ns]
 5   Group A B               1033415 non-null  object
 6   City                    1033415 non-null  object
 7   Crime Against Category  1033415 non-null  object
 8   Offense Parent Group    1033415 non-null  object
 9   Offense                 1033415 non-null  object
 10  Offense Code            1033415 non-null  object
 11  Precinct                1033411 non-null  object
 12  Sector                  1033413 non-null  object
 13  Beat                    1033413 non-null  object
 14  MCPP                    1033415 non-null  object
 15  100 Block Address       989588 non-null   object
 16  Longitude               1033415 non-null  float64
 17  Latitude                1033415 non-null  float64
 18  Date                    1033415 non-null  object
 19  Time                    1033415 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 157.7+ MB