In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("SPD_Crime_Data__2008-Present.csv")

In [50]:
pdf = pd.read_csv("Seattle_Population_Data.csv")

In [51]:
pdf = pdf.rename(columns={"label":"Year"})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033415 entries, 0 to 1033414
Data columns (total 21 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1033415 non-null  object
 1   Offense ID              1033415 non-null  int64
 2   Offense Start DateTime  1032212 non-null  object
 3   Offense End DateTime    581409 non-null   object
 4   Report DateTime         1033415 non-null  datetime64[ns]
 5   Group A B               1033415 non-null  object
 6   City                    1033415 non-null  object
 7   Crime Against Category  1033415 non-null  object
 8   Offense Parent Group    1033415 non-null  object
 9   Offense                 1033415 non-null  object
 10  Offense Code            1033415 non-null  object
 11  Precinct                1033411 non-null  object
 12  Sector                  1033413 non-null  object
 13  Beat                    1033413 non-null  object
 14  MCPP                    1033415 non-null  object
 15  100 Block Address       989588 non-null   object
 16  Longitude               1033415 non-null  float64
 17  Latitude                1033415 non-null  float64
 18  Date                    1033415 non-null  object
 19  Time                    1033415 non-null  object
 20  Year                    1033415 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 165.6+ MB

In [34]:
df = df.astype({'Year':'int'})

In [52]:
combined_df = pd.merge(df, pdf, on="Year", how='left')

In [53]:
combined_df_2018 = combined_df[combined_df['Year'] >= 2018]  
# get this out

In [54]:
property_data = combined_df_2018[combined_df_2018['Crime Against Category'] == "PROPERTY"]

In [55]:
property_data

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,City,Crime Against Category,Offense Parent Group,Offense,...,Longitude,Latitude,Date,Time,Year,Born in USA,Citizen by Naturalization,Not a Citizen,Born Abroad,total
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,2020-02-05 10:06:28,A,Seattle,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,...,-122.323399,47.675118,2020-02-05,10:06:28,2020,NaN,NaN,NaN,NaN,NaN
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,2020-02-05 09:39:33,A,Seattle,PROPERTY,ROBBERY,Robbery,...,-122.299552,47.666384,2020-02-05,09:39:33,2020,NaN,NaN,NaN,NaN,NaN
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,2020-02-05 03:30:55,A,Seattle,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,...,-122.384865,47.642927,2020-02-05,03:30:55,2020,NaN,NaN,NaN,NaN,NaN
5,2020-044142,12605077150,02/04/2020 10:59:00 PM,NaN,2020-02-05 00:45:08,A,Seattle,PROPERTY,LARCENY-THEFT,Shoplifting,...,-122.338450,47.608789,2020-02-05,00:45:08,2020,NaN,NaN,NaN,NaN,NaN
6,2020-044104,12605029468,02/04/2020 08:30:00 PM,02/04/2020 08:45:00 PM,2020-02-04 23:31:52,A,Seattle,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,...,-122.355309,47.680527,2020-02-04,23:31:52,2020,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033391,2018-041786,7659514059,02/03/2018 10:00:00 AM,02/03/2018 11:15:00 AM,2018-02-03 13:26:00,A,Seattle,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,...,-122.376553,47.540130,2018-02-03,13:26:00,2018,NaN,NaN,NaN,NaN,NaN
1033392,2018-040735,7685319198,02/02/2018 09:30:00 AM,02/02/2018 05:30:00 PM,2018-02-02 20:38:00,A,Seattle,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,...,-122.340403,47.623217,2018-02-02,20:38:00,2018,NaN,NaN,NaN,NaN,NaN
1033393,2018-039974,7696866294,02/01/2018 07:00:00 PM,02/02/2018 05:45:00 AM,2018-02-02 07:52:00,A,Seattle,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,...,-122.322450,47.581890,2018-02-02,07:52:00,2018,NaN,NaN,NaN,NaN,NaN
1033394,2018-039974,7696866297,02/01/2018 07:00:00 PM,02/02/2018 05:45:00 AM,2018-02-02 07:52:00,A,Seattle,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,...,-122.322450,47.581890,2018-02-02,07:52:00,2018,NaN,NaN,NaN,NaN,NaN
1033395,2018-039677,7643159251,02/01/2018 09:30:00 AM,02/01/2018 10:30:00 PM,2018-02-01 22:55:00,A,Seattle,PROPERTY,BURGLARY/BREAKING&ENTERING,Burglary/Breaking & Entering,...,-122.328885,47.727507,2018-02-01,22:55:00,2018,NaN,NaN,NaN,NaN,NaN

In [5]:
df["Report DateTime"]= pd.to_datetime(df['Report DateTime'])

In [23]:
df['Year'] = df["Report DateTime"].dt.strftime("%Y")

In [6]:
df['Date'] = df["Report DateTime"].dt.strftime("%Y-%m-%d")
df['Time'] = df["Report DateTime"].dt.strftime("%H:%M:%S")

In [8]:
compression_opts = dict(method='zip',
                        archive_name='SPD_Crime_Data__2008-Present.csv')  
df.to_csv('data.zip', index=False,
          compression=compression_opts)

In [17]:
df["Group A B"].unique()

array(['A', 'B'], dtype=object)

In [19]:
len(df[df["Group A B"] == "A"])

962555

In [20]:
len(df[df["Group A B"] == "B"])

70860

In [11]:
df["Crime_Against_Category_count"] = df.groupby(['Date', 'Crime Against Category']).size()

Date        Crime Against Category
2008-01-01  PERSON                     57
            PROPERTY                  115
            SOCIETY                    30
2008-01-02  PERSON                     17
            PROPERTY                  144
                                     ...
2023-02-14  PROPERTY                  122
            SOCIETY                     7
2023-02-15  PERSON                     29
            PROPERTY                   66
            SOCIETY                     6
Length: 16606, dtype: int64

In [14]:
df.groupby(['Date', 'Offense Parent Group']).size()

Date        Offense Parent Group
2008-01-01  ASSAULT OFFENSES                            54
            BAD CHECKS                                   1
            BURGLARY/BREAKING&ENTERING                  12
            COUNTERFEITING/FORGERY                       1
            DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY    27
                                                        ..
2023-02-15  MOTOR VEHICLE THEFT                         21
            ROBBERY                                      1
            SEX OFFENSES                                 3
            STOLEN PROPERTY OFFENSES                     1
            TRESPASS OF REAL PROPERTY                    2
Length: 86057, dtype: int64

In [13]:
df.groupby(['Date'])['Offense Parent Group'].size()

Date
2008-01-01    202
2008-01-02    190
2008-01-03    179
2008-01-04    183
2008-01-05    145
             ...
2023-02-11    223
2023-02-12    121
2023-02-13    175
2023-02-14    152
2023-02-15    101
Name: Offense Parent Group, Length: 5525, dtype: int64

In [ ]:
df.groupby('Date',)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033415 entries, 0 to 1033414
Data columns (total 20 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1033415 non-null  object
 1   Offense ID              1033415 non-null  int64
 2   Offense Start DateTime  1032212 non-null  object
 3   Offense End DateTime    581409 non-null   object
 4   Report DateTime         1033415 non-null  datetime64[ns]
 5   Group A B               1033415 non-null  object
 6   City                    1033415 non-null  object
 7   Crime Against Category  1033415 non-null  object
 8   Offense Parent Group    1033415 non-null  object
 9   Offense                 1033415 non-null  object
 10  Offense Code            1033415 non-null  object
 11  Precinct                1033411 non-null  object
 12  Sector                  1033413 non-null  object
 13  Beat                    1033413 non-null  object
 14  MCPP                    1033415 non-null  object
 15  100 Block Address       989588 non-null   object
 16  Longitude               1033415 non-null  float64
 17  Latitude                1033415 non-null  float64
 18  Date                    1033415 non-null  object
 19  Time                    1033415 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 157.7+ MB