In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("SPD_Crime_Data__2008-Present.csv")

In [57]:
pdf = pd.read_csv("Seattle_Population_Data.csv")

In [58]:
pdf = pdf.rename(columns={"label":"Year"})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033415 entries, 0 to 1033414
Data columns (total 21 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1033415 non-null  object
 1   Offense ID              1033415 non-null  int64
 2   Offense Start DateTime  1032212 non-null  object
 3   Offense End DateTime    581409 non-null   object
 4   Report DateTime         1033415 non-null  datetime64[ns]
 5   Group A B               1033415 non-null  object
 6   City                    1033415 non-null  object
 7   Crime Against Category  1033415 non-null  object
 8   Offense Parent Group    1033415 non-null  object
 9   Offense                 1033415 non-null  object
 10  Offense Code            1033415 non-null  object
 11  Precinct                1033411 non-null  object
 12  Sector                  1033413 non-null  object
 13  Beat                    1033413 non-null  object
 14  MCPP                    1033415 non-null  object
 15  100 Block Address       989588 non-null   object
 16  Longitude               1033415 non-null  float64
 17  Latitude                1033415 non-null  float64
 18  Date                    1033415 non-null  object
 19  Time                    1033415 non-null  object
 20  Year                    1033415 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 165.6+ MB

In [59]:
df = df.astype({'Year':'int'})

In [60]:
combined_df = pd.merge(df, pdf, on="Year", how='left')

In [61]:
combined_df_2018 = combined_df[combined_df['Year'] >= 2018]  
# get this out

In [62]:
property_data = combined_df_2018[combined_df_2018['Crime Against Category'] == "PROPERTY"]

In [124]:
combined_df_2018.groupby(['Crime Against Category', "Offense Parent Group"]).size().rank()

Crime Against Category  Offense Parent Group
NOT_A_CRIME             HOMICIDE OFFENSES                            3.0
PERSON                  ASSAULT OFFENSES                            32.0
                        HOMICIDE OFFENSES                           11.0
                        HUMAN TRAFFICKING                            6.0
                        KIDNAPPING/ABDUCTION                        16.0
                        SEX OFFENSES                                21.0
                        SEX OFFENSES, CONSENSUAL                     5.0
PROPERTY                ARSON                                       18.0
                        BAD CHECKS                                  17.0
                        BRIBERY                                      1.0
                        BURGLARY/BREAKING&ENTERING                  31.0
                        COUNTERFEITING/FORGERY                      20.0
                        DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY    30.0
                        EMBEZZLEMENT                                13.0
                        EXTORTION/BLACKMAIL                         15.0
                        FRAUD OFFENSES                              28.0
                        LARCENY-THEFT                               33.0
                        MOTOR VEHICLE THEFT                         29.0
                        ROBBERY                                     26.0
                        STOLEN PROPERTY OFFENSES                    22.0
SOCIETY                 ANIMAL CRUELTY                               8.0
                        CURFEW/LOITERING/VAGRANCY VIOLATIONS         9.0
                        DRIVING UNDER THE INFLUENCE                 25.0
                        DRUG/NARCOTIC OFFENSES                      24.0
                        DRUNKENNESS                                  4.0
                        FAMILY OFFENSES, NONVIOLENT                 19.0
                        GAMBLING OFFENSES                            2.0
                        LIQUOR LAW VIOLATIONS                       10.0
                        PEEPING TOM                                  7.0
                        PORNOGRAPHY/OBSCENE MATERIAL                12.0
                        PROSTITUTION OFFENSES                       14.0
                        TRESPASS OF REAL PROPERTY                   27.0
                        WEAPON LAW VIOLATIONS                       23.0
dtype: float64

In [171]:
combined_df_2018['month'] = combined_df_2018["Report DateTime"].dt.strftime("%Y-%m")

/var/folders/rv/6m4k5tf17wz_q7w2xygr9xm00000gn/T/ipykernel_35021/2015705043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df_2018['month'] = combined_df_2018["Report DateTime"].dt.strftime("%Y-%m")

In [173]:
# property_data_rate = property_data.groupby(["Offense Parent Group", "Year", "total"]).count()
combined_df_2018_rate = combined_df_2018.groupby(['Crime Against Category', "Offense Parent Group", "month", "total"])["Offense ID"].count().reset_index(name="parent_count")

In [183]:
combined_df_2018_top5 = combined_df_2018.groupby(['Crime Against Category', "Offense Parent Group"])["Offense ID"].count().reset_index(name="count")

In [174]:
combined_df_2018_rate

,Crime Against Category,Offense Parent Group,month,total,parent_count
0,NOT_A_CRIME,HOMICIDE OFFENSES,2018-03,707161.0,1
1,NOT_A_CRIME,HOMICIDE OFFENSES,2019-01,722885.0,1
2,NOT_A_CRIME,HOMICIDE OFFENSES,2019-02,722885.0,1
3,NOT_A_CRIME,HOMICIDE OFFENSES,2019-05,722885.0,1
4,NOT_A_CRIME,HOMICIDE OFFENSES,2020-05,739736.0,1
...,...,...,...,...,...
1670,SOCIETY,WEAPON LAW VIOLATIONS,2022-10,774458.0,66
1671,SOCIETY,WEAPON LAW VIOLATIONS,2022-11,774458.0,69
1672,SOCIETY,WEAPON LAW VIOLATIONS,2022-12,774458.0,50
1673,SOCIETY,WEAPON LAW VIOLATIONS,2023-01,792425.0,58
1674,SOCIETY,WEAPON LAW VIOLATIONS,2023-02,792425.0,26

In [184]:
combined_df_2018_top5.nlargest(5,'count')

   Crime Against Category                      Offense Parent Group   count
16               PROPERTY                             LARCENY-THEFT  135311
1                  PERSON                          ASSAULT OFFENSES   56619
10               PROPERTY                BURGLARY/BREAKING&ENTERING   45879
12               PROPERTY  DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY   34573
17               PROPERTY                       MOTOR VEHICLE THEFT   26218

In [216]:
motor_df.to_csv("motor.csv", sep='\t')

In [213]:
theft_df = theft_df.groupby(["Offense Parent Group","month","crime_rate"]).size().reset_index(name='parent_count')

In [197]:
motor_df = combined_df_2018_final[combined_df_2018_final['Offense Parent Group']== "MOTOR VEHICLE THEFT"]

In [215]:
motor_df

   Offense Parent Group    month  crime_rate  parent_count
0   MOTOR VEHICLE THEFT  2018-01       45.96           325
1   MOTOR VEHICLE THEFT  2018-02       42.71           302
2   MOTOR VEHICLE THEFT  2018-03       49.78           352
3   MOTOR VEHICLE THEFT  2018-04       48.65           344
4   MOTOR VEHICLE THEFT  2018-05       43.27           306
..                  ...      ...         ...           ...
57  MOTOR VEHICLE THEFT  2022-10       90.90           704
58  MOTOR VEHICLE THEFT  2022-11       86.51           670
59  MOTOR VEHICLE THEFT  2022-12       82.90           642
60  MOTOR VEHICLE THEFT  2023-01       81.77           648
61  MOTOR VEHICLE THEFT  2023-02       36.72           291

[62 rows x 4 columns]

In [195]:
property_df = combined_df_2018_final[combined_df_2018_final['Offense Parent Group']== "DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY"]

In [185]:
theft_df = combined_df_2018_final[combined_df_2018_final['Offense Parent Group']== "LARCENY-THEFT"]
#extract

In [193]:
burglary_df = combined_df_2018_final[combined_df_2018_final['Offense Parent Group']== "BURGLARY/BREAKING&ENTERING"]

In [189]:
assault_df = combined_df_2018_final[combined_df_2018_final['Offense Parent Group']== "ASSAULT OFFENSES"]

In [191]:
assault_df[assault_df['Crime Against Category']!= "PERSON"]

Empty DataFrame
Columns: [Report Number, Offense ID, Offense Start DateTime, Offense End DateTime, Report DateTime, Group A B, City, Crime Against Category, Offense Parent Group, Offense, Offense Code, Precinct, Sector, Beat, MCPP, 100 Block Address, Longitude, Latitude, Date, Time, Year, Born in USA, Citizen by Naturalization, Not a Citizen, Born Abroad, total_x, month, total_y, parent_count, crime_rate]
Index: []

[0 rows x 30 columns]

In [163]:
motor_df.to_csv("motor.csv")

In [175]:
combined_df_2018_rate["crime_rate"] = ((combined_df_2018_rate["parent_count"]/combined_df_2018_rate["total"])*100000)

In [176]:
combined_df_2018_rate = combined_df_2018_rate.round(decimals=2)

In [178]:
combined_df_2018

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,City,Crime Against Category,Offense Parent Group,Offense,...,Latitude,Date,Time,Year,Born in USA,Citizen by Naturalization,Not a Citizen,Born Abroad,total,month
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,2020-02-05 11:24:31,A,Seattle,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,...,47.649387,2020-02-05,11:24:31,2020,583416.0,67774.0,75913.0,12633.0,739736.0,2020-02
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,2020-02-05 10:06:28,A,Seattle,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,...,47.675118,2020-02-05,10:06:28,2020,583416.0,67774.0,75913.0,12633.0,739736.0,2020-02
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,2020-02-05 09:39:33,A,Seattle,PROPERTY,ROBBERY,Robbery,...,47.666384,2020-02-05,09:39:33,2020,583416.0,67774.0,75913.0,12633.0,739736.0,2020-02
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,2020-02-05 03:30:55,A,Seattle,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,...,47.642927,2020-02-05,03:30:55,2020,583416.0,67774.0,75913.0,12633.0,739736.0,2020-02
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,2020-02-05 00:51:31,B,Seattle,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,...,47.662193,2020-02-05,00:51:31,2020,583416.0,67774.0,75913.0,12633.0,739736.0,2020-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033391,2018-041786,7659514059,02/03/2018 10:00:00 AM,02/03/2018 11:15:00 AM,2018-02-03 13:26:00,A,Seattle,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,...,47.540130,2018-02-03,13:26:00,2018,563960.0,64716.0,66138.0,12347.0,707161.0,2018-02
1033392,2018-040735,7685319198,02/02/2018 09:30:00 AM,02/02/2018 05:30:00 PM,2018-02-02 20:38:00,A,Seattle,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,...,47.623217,2018-02-02,20:38:00,2018,563960.0,64716.0,66138.0,12347.0,707161.0,2018-02
1033393,2018-039974,7696866294,02/01/2018 07:00:00 PM,02/02/2018 05:45:00 AM,2018-02-02 07:52:00,A,Seattle,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,...,47.581890,2018-02-02,07:52:00,2018,563960.0,64716.0,66138.0,12347.0,707161.0,2018-02
1033394,2018-039974,7696866297,02/01/2018 07:00:00 PM,02/02/2018 05:45:00 AM,2018-02-02 07:52:00,A,Seattle,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,...,47.581890,2018-02-02,07:52:00,2018,563960.0,64716.0,66138.0,12347.0,707161.0,2018-02
1033395,2018-039677,7643159251,02/01/2018 09:30:00 AM,02/01/2018 10:30:00 PM,2018-02-01 22:55:00,A,Seattle,PROPERTY,BURGLARY/BREAKING&ENTERING,Burglary/Breaking & Entering,...,47.727507,2018-02-01,22:55:00,2018,563960.0,64716.0,66138.0,12347.0,707161.0,2018-02

In [179]:
combined_df_2018_final = pd.merge(combined_df_2018, combined_df_2018_rate, on=['Crime Against Category', "Offense Parent Group", "month"], how='left')

In [217]:
compression_opts = dict(method='zip',
                        archive_name='SPD_Crime_Data__2008-Present.csv')  
combined_df_2018_final.to_csv('rate_data.zip', index=False,
          compression=compression_opts)

In [122]:
min(combined_df_2018_final.crime_rate)

0.13

In [69]:
offense_types = property_data["Offense Parent Group"].unique()

In [73]:
offense_types[0]

'LARCENY-THEFT'

In [74]:
theft_df = property_data[property_data["Offense Parent Group"] == offense_types[0]]

In [78]:
theft_df.groupby(["Date", "Offense Parent Group"]).size()

Date        Offense Parent Group
2018-01-01  LARCENY-THEFT            48
2018-01-02  LARCENY-THEFT            80
2018-01-03  LARCENY-THEFT            82
2018-01-04  LARCENY-THEFT            77
2018-01-05  LARCENY-THEFT            69
                                   ...
2023-02-11  LARCENY-THEFT           101
2023-02-12  LARCENY-THEFT            23
2023-02-13  LARCENY-THEFT            64
2023-02-14  LARCENY-THEFT            52
2023-02-15  LARCENY-THEFT            24
Length: 1872, dtype: int64

In [5]:
df["Report DateTime"]= pd.to_datetime(df['Report DateTime'])

In [23]:
df['Year'] = df["Report DateTime"].dt.strftime("%Y")

In [ ]:
df['month'] = df["Report DateTime"].dt.strftime("%Y-%m")

In [6]:
df['Date'] = df["Report DateTime"].dt.strftime("%Y-%m-%d")
df['Time'] = df["Report DateTime"].dt.strftime("%H:%M:%S")

In [8]:
compression_opts = dict(method='zip',
                        archive_name='SPD_Crime_Data__2008-Present.csv')  
df.to_csv('data.zip', index=False,
          compression=compression_opts)

In [17]:
df["Group A B"].unique()

array(['A', 'B'], dtype=object)

In [19]:
len(df[df["Group A B"] == "A"])

962555

In [20]:
len(df[df["Group A B"] == "B"])

70860

In [11]:
df["Crime_Against_Category_count"] = df.groupby(['Date', 'Crime Against Category']).size()

Date        Crime Against Category
2008-01-01  PERSON                     57
            PROPERTY                  115
            SOCIETY                    30
2008-01-02  PERSON                     17
            PROPERTY                  144
                                     ...
2023-02-14  PROPERTY                  122
            SOCIETY                     7
2023-02-15  PERSON                     29
            PROPERTY                   66
            SOCIETY                     6
Length: 16606, dtype: int64

In [14]:
df.groupby(['Date', 'Offense Parent Group']).size()

Date        Offense Parent Group
2008-01-01  ASSAULT OFFENSES                            54
            BAD CHECKS                                   1
            BURGLARY/BREAKING&ENTERING                  12
            COUNTERFEITING/FORGERY                       1
            DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY    27
                                                        ..
2023-02-15  MOTOR VEHICLE THEFT                         21
            ROBBERY                                      1
            SEX OFFENSES                                 3
            STOLEN PROPERTY OFFENSES                     1
            TRESPASS OF REAL PROPERTY                    2
Length: 86057, dtype: int64

In [13]:
df.groupby(['Date'])['Offense Parent Group'].size()

Date
2008-01-01    202
2008-01-02    190
2008-01-03    179
2008-01-04    183
2008-01-05    145
             ...
2023-02-11    223
2023-02-12    121
2023-02-13    175
2023-02-14    152
2023-02-15    101
Name: Offense Parent Group, Length: 5525, dtype: int64

In [ ]:
df.groupby('Date',)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033415 entries, 0 to 1033414
Data columns (total 20 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1033415 non-null  object
 1   Offense ID              1033415 non-null  int64
 2   Offense Start DateTime  1032212 non-null  object
 3   Offense End DateTime    581409 non-null   object
 4   Report DateTime         1033415 non-null  datetime64[ns]
 5   Group A B               1033415 non-null  object
 6   City                    1033415 non-null  object
 7   Crime Against Category  1033415 non-null  object
 8   Offense Parent Group    1033415 non-null  object
 9   Offense                 1033415 non-null  object
 10  Offense Code            1033415 non-null  object
 11  Precinct                1033411 non-null  object
 12  Sector                  1033413 non-null  object
 13  Beat                    1033413 non-null  object
 14  MCPP                    1033415 non-null  object
 15  100 Block Address       989588 non-null   object
 16  Longitude               1033415 non-null  float64
 17  Latitude                1033415 non-null  float64
 18  Date                    1033415 non-null  object
 19  Time                    1033415 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 157.7+ MB